In [1]:
import os
import pandas as pd

In [2]:
os.chdir("..")

In [3]:
from src.data.obtain import get_raw_data
from src.data.scrub import scrub_raw_data

In [4]:
if not os.path.exists('data/04-processed/titanic.csv'):
    print("Importing and scrubbing raw data.")
    df_raw = get_raw_data()
    df = scrub_raw_data(df_raw)
else:
    print("Retrieving cleaned data from backup.")
    df = pd.read_csv('data/04-processed/titanic.csv')

Retrieving cleaned data from backup.

In [5]:
df.head()

,survived,age,sibsp,parch,fare,age__is_null,cabinnumber__is_null,gender,embarked_C,embarked_Q,embarked_S,pclass_1,pclass_2,pclass_3
0,1,29.0000,0,0,211.3375,0,0,1,0,0,1,1,0,0
1,1,0.9167,1,2,151.5500,0,0,0,0,0,1,1,0,0
2,0,2.0000,1,2,151.5500,0,0,1,0,0,1,1,0,0
3,0,30.0000,1,2,151.5500,0,0,0,0,0,1,1,0,0
4,0,25.0000,1,2,151.5500,0,0,1,0,0,1,1,0,0