In [ ]:
# if you realize you need a package that isn't installed, get it explicitly
# do not forget to update the environment.yml or requirements.txt file 
# when you push the updated file, it will trigger a rebuild of the image

!conda install -y more-itertools
# !conda env export > /home/environment.yml

In [16]:
import os
import pandas as pd
from more_itertools import flatten

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams

plt.style.use('seaborn-darkgrid')
sns.set_context("talk")

rcParams['figure.figsize'] = 16, 5 
rcParams['font.family'] = 'monospace'
rcParams['font.weight'] = 200

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [18]:
os.chdir("..")

In [19]:
PATH_ROOT = os.getcwd()
PATH_TO_FIGS = PATH_ROOT + '/reports/figures/'

In [20]:
from src.data.obtain import get_raw_data
from src.data.scrub import scrub_raw_data

In [21]:
if not os.path.exists('data/04-processed/titanic.csv'):
    print("Importing and scrubbing raw data.")
    df_raw = get_raw_data()
    df = scrub_raw_data(df_raw)
else:
    print("Retrieving cleaned data from backup.")
    df = pd.read_csv('data/04-processed/titanic.csv')

Retrieving cleaned data from backup.

In [22]:
df.head()

,survived,age,sibsp,parch,fare,age__is_null,cabinnumber__is_null,gender,embarked_C,embarked_Q,embarked_S,pclass_1,pclass_2,pclass_3
0,1,29.0000,0,0,211.3375,0,0,1,0,0,1,1,0,0
1,1,0.9167,1,2,151.5500,0,0,0,0,0,1,1,0,0
2,0,2.0000,1,2,151.5500,0,0,1,0,0,1,1,0,0
3,0,30.0000,1,2,151.5500,0,0,0,0,0,1,1,0,0
4,0,25.0000,1,2,151.5500,0,0,1,0,0,1,1,0,0

## Explore

- Univariate (distributions)
- Bivariate (correlations)
- By-group analysis
- Feature Engineering
- Feature Selection

In [ ]:
y = df['survived'].copy()
print("Average Survival Rate: {}%".format(y.mean().round(3) * 100))

In [ ]:
rcParams['font.family'] = ['Lucid']

In [ ]:
(df['sibsp']
 .value_counts(normalize=True)
 .sort_index(ascending=False)
 .plot.barh(title="\nAbout 70% of passengers were\ntraveling without Siblings/Spouses\n"));

In [ ]:
df['sibsp_2'] = df['sibsp'].map(lambda i: 2 if i >= 2 else i)

In [ ]:
df.groupby('sibsp_2')['survived'].mean()